<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">Welcome to Clipboard</h1>
          <p class="lead text-white-50 mb-4">A food delivery service application</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/register">Get Started</a>
            <a class="btn btn-outline-light btn-lg px-4" href="https://github.com/io-jonathanlee/clipboard-api-java#readme"
               target="_blank">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Testimonials section-->
<section class="py-5 border-bottom">
  <div class="container px-5 my-5 px-5">
    <div class="text-center mb-5">
      <h2 class="fw-bolder">Developer Experience</h2>
      <span>The developer, Jonathan Lee, has a host of experience with <strong>Software Development</strong> and <strong>Customer Support</strong></span>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <!-- Testimonial 1-->
        <div class="card mb-4">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
              <div class="ms-4">
                <p class="mb-1">Currently working as a Software Engineer II</p>
                <div class="small text-muted">- Mastercard, Ireland</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Testimonial 2-->
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
              <div class="ms-4">
                <p class="mb-1">Over a years experience working as a Full-Stack Software Engineer</p>
                <div class="small text-muted">- Ericsson, Ireland</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Testimonial 2-->
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
              <div class="ms-4">
                <p class="mb-1">Worked as an Undergraduate Software Developer for a period of 8 months</p>
                <div class="small text-muted">- Jaguar Land Rover, Ireland</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Testimonial 2-->
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
              <div class="ms-4">
                <p class="mb-1">Worked for over 5 years as a Sales Assistant, gaining valuable experience with Customer
                  Service</p>
                <div class="small text-muted">- Joyce's Supermarket, Ireland</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
